* {
  margin: 0;
}
.app__headerImage{
  object-fit: contain;
  height: 60px;
  background-color: white;
}
.App{
  background-color: #fafafa;
}
.app__header{
  padding: 20px;
  height: 45px;
  border-bottom: 1px solid lightgray;
}

.signUp{
  float: right;
  right: 0;
}
.headerStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid lightgray; */
  padding-bottom: 20px;

}
.input{
  display: flex;
  flex-direction: column;
}
.input > * + * {
  margin-top: 16px;
}
.logo{
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}